<div class="col-3" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}">

  <div class="cart__image-wrapper">
    <img class="cart__image{% if item.image == null %} hide{% endif %}" src="{{ item | img_url: 'x190' }}" alt="{{ item.image.alt | escape }}" data-cart-item-image>
  </div>

  <div class="list-view-item__title">
    <a href="{{ item.url }}" class="cart__product-title" data-cart-item-title>
      {{ item.product.title }}
    </a>
  </div>

  <p class="cart__remove">
    <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove>{{ 'cart.general.remove' | t }}</a>
  </p>

</div>
