<div class="container border-top px-md-4 border-dark pt-0 pb-5" data-section-id="{{ section.id }}">

  <div class="row pt-md-5">

    <div class="col-12 col-md border-bottom border-dark px-0 pb-md-4 py-4 py-md-0">

      <p class="indent">{{ section.settings.col1}}</p>

		<p class="indent"> {{ section.settings.col12}}</p>

    </div>

    <div class="col-12 col-md px-md-5 py-4 py-md-0">

      <div class="row d-flex justify-content-center">

        <div class="designtext row w-100">

          <p class="d-inline text-left col pb-3"> {{ section.settings.col2}}</p>
          <p class="d-inline text-center col pb-3"> {{ section.settings.col21}}</p>
          <p class="d-inline text-right col pb-3"> {{ section.settings.col22}}</p>

        </div>

        <div class="sustainabilitytext row w-100 border-top border-dark">

          <p class="d-inline text-left col py-3"> {{ section.settings.col23}}</p>
          <p class="d-inline text-center col py-3"> {{ section.settings.col24}}</p>
          <p class="d-inline text-right col py-3"> {{ section.settings.col25}}</p>

        </div>

        <div class="technologytext row w-100 border-top border-dark">

          <p class="d-inline text-left col py-3">{{ section.settings.col26}}</p>
          <p class="d-inline text-center col py-3">{{ section.settings.col27}}</p>
          <p class="d-inline text-right col py-3">{{ section.settings.col28}}</p>

        </div>

        <div class="qualitytext row w-100 border-top border-bottom border-dark">

          <p class="d-inline text-left col py-3">{{ section.settings.col29}}</p>
          <p class="d-inline text-center col py-3"> {{ section.settings.col210}}</p>
          <p class="d-inline text-right col py-3"> {{ section.settings.col211}}</p>

        </div>

      </div>

    </div>

    <div class="col-12 col-md border-bottom border-dark pb-md-4 pb-4 px-0 py-md-0">

      <p class="indent"> {{ section.settings.col3}} </p>

    </div>

  </div>

</div>

{% schema %}
{
  "name": {
    "en": "Text columns"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "col1",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col12",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col123",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col2",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col21",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col22",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col23",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col24",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col25",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col26",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col27",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col28",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col29",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col210",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col211",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    },
    {
      "type": "text",
      "id": "col3",
      "label": {
        "en": "Text"
      },
      "default": {
        "en": "Text columns"
      }
    }
  ]
}
{% endschema %}
