<div class="container pb-5 mb-5" data-section-id="{{ section.id }}" data-section-type="logo-section">

<!-- modal 1 -->

  <div class="modal fade in" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image | img_url: 'master'}}') no-repeat center!important;">
  <div class="modal-dialog container" role="document">
  <div class="modal-content">
  <div class="modal-header pt-0">
  <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter">
  <div class="d-inline-block m-0 p-0 pr-1">
  <h1 class="fc-names">{{section.settings.heading}}</h1>
  </div>
  <div class="d-inline-block typecity">
  <p class="fc-names">{{section.settings.type}}</p>
  <p class="fc-names">{{section.settings.location}}</p>
  </p>
  </div>
  </div>
  </div>
  <div class="modal-body">
  <p class="fc-names">
  {{section.settings.paragraph}}
  </p>
  </div>
  <div class="modal-footer">
  <button type="button" class="modalbtn btn" href="button_link_fb">{{section.settings.button_text}}</button>
  </div>
  </div>
  </div>
  </div>

  <!-- modal 2 -->

  <div class="modal fade in" id="ModalCenter2" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image1 | img_url: 'master'}}') no-repeat center!important;">
  <div class="modal-dialog container" role="document">
  <div class="modal-content">
  <div class="modal-header pt-0">
  <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter2">
  <div class="d-inline-block m-0 p-0 pr-1">
  <h1 class="fc-names">{{section.settings.heading1}}</h1>
  </div>
  <div class="d-inline-block typecity">
  <p class="fc-names">{{ section.settings.type1}}</p>
  <p class="fc-names">{{ section.settings.location1}}</p>
  </p>
  </div>
  </div>
  </div>
  <div class="modal-body">
  <p class="fc-names">
  {{section.settings.paragraph1}}
  </div>
  <div class="modal-footer">
  <button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text1}}</button>
  </div>
  </div>
  </div>
  </div>

  <!-- modal 3 -->

  <div class="modal fade in" id="ModalCenter3" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image2 | img_url: 'master'}}') no-repeat center!important;">
  <div class="modal-dialog container" role="document">
  <div class="modal-content">
  <div class="modal-header pt-0">
  <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter3">
  <div class="d-inline-block m-0 p-0 pr-1">
  <h1 class="fc-names">{{section.settings.heading2}}</h1>
  </div>
  <div class="d-inline-block typecity">
  <p class="fc-names">{{section.settings.type2}}</p>
  <p class="fc-names">{{section.settings.location2}}</p>
  </p>
  </div>
  </div>
  </div>
  <div class="modal-body">
  <p class="fc-names">
  {{section.settings.paragraph2}}
  </p>
  </div>
  <div class="modal-footer">
  <button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb2 }}">{{section.settings.button_text2}}</button>
  </div>
  </div>
  </div>
  </div>

    <!-- modal 4 -->

<div class="modal fade in" id="ModalCenter4" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image3 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter4">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading3}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type3}}</p>
<p class="fc-names">{{section.settings.location3}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph3}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb3 }}">{{section.settings.button_text3}}</button>
</div>
</div>
</div>
</div>

<!-- modal 5 -->

<div class="modal fade in" id="ModalCenter5" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image4 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter5">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading4}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type4}}</p>
<p class="fc-names">{{section.settings.location4}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph4}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb4 }}">{{section.settings.button_text4}}</button>
</div>
</div>
</div>
</div>

<!-- modal 6 -->

<div class="modal fade in" id="ModalCenter6" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image5 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter6">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading5}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type5}}</p>
<p class="fc-names">{{section.settings.location5}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph5}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb5 }}">{{section.settings.button_text5}}</button>
</div>
</div>
</div>
</div>

<!-- modal 7 -->

<div class="modal fade in" id="ModalCenter7" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image6 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter7">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading6}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type6}}</p>
<p class="fc-names">{{section.settings.location6}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph6}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb6 }}">{{section.settings.button_text6}}</button>
</div>
</div>
</div>
</div>

<!-- modal 8 -->

<div class="modal fade in" id="ModalCenter8" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image7 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter8">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading7}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type7}}</p>
<p class="fc-names">{{section.settings.location7}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph7}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb7 }}">{{section.settings.button_text7}}</button>
</div>
</div>
</div>
</div>

<!-- modal 9 -->

<div class="modal fade in" id="ModalCenter9" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image8 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter9">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading8}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type8}}</p>
<p class="fc-names">{{section.settings.location8}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph8}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb8 }}">{{section.settings.button_text8}}</button>
</div>
</div>
</div>
</div>

<!-- modal 10 -->

<div class="modal fade in" id="ModalCenter10" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image9 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter10">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading9}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type9}}</p>
<p class="fc-names">{{section.settings.location9}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph9}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb9 }}">{{section.settings.button_text9}}</button>
</div>
</div>
</div>
</div>

<!-- modal 11 -->

<div class="modal fade in" id="ModalCenter11" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image10 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter11">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading10}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type10}}</p>
<p class="fc-names">{{section.settings.location10}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph10}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb10 }}">{{section.settings.button_text10}}</button>
</div>
</div>
</div>
</div>

<!-- modal 12 -->

<div class="modal fade in" id="ModalCenter12" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image11 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter12">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading11}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type11}}</p>
<p class="fc-names">{{section.settings.location11}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph11}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb11 }}">{{section.settings.button_text11}}</button>
</div>
</div>
</div>
</div>

<!-- modal 13 -->

<div class="modal fade in" id="ModalCenter13" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image12 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter13">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading12}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type12}}</p>
<p class="fc-names">{{section.settings.location12}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph12}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb12 }}">{{section.settings.button_text12}}</button>
</div>
</div>
</div>
</div>

<!-- modal 14 -->

<div class="modal fade in" id="ModalCenter14" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image13 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter14">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading13}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type13}}</p>
<p class="fc-names">{{section.settings.location13}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph13}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb13 }}">{{section.settings.button_text13}}</button>
</div>
</div>
</div>
</div>

<!-- modal 15 -->

<div class="modal fade in" id="ModalCenter15" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image14 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter15">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading14}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type14}}</p>
<p class="fc-names">{{section.settings.location14}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph14}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb14 }}">{{section.settings.button_text14}}</button>
</div>
</div>
</div>
</div>

<!-- modal 16 -->

<div class="modal fade in" id="ModalCenter16" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image15 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter16">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading15}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type15}}</p>
<p class="fc-names">{{section.settings.location15}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph15}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb15 }}">{{section.settings.button_text15}}</button>
</div>
</div>
</div>
</div>

<!-- modal 17 -->

<div class="modal fade in" id="ModalCenter17" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image16 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter17">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading16}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type16}}</p>
<p class="fc-names">{{section.settings.location16}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph16}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb16 }}">{{section.settings.button_text16}}</button>
</div>
</div>
</div>
</div>

<!-- modal 18 -->

<div class="modal fade in" id="ModalCenter18" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image17 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter18">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading17}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type17}}</p>
<p class="fc-names">{{section.settings.location17}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph17}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb17 }}">{{section.settings.button_text17}}</button>
</div>
</div>
</div>
</div>

<!-- modal 19 -->

<div class="modal fade in" id="ModalCenter19" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image18 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter19">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading18}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type18}}</p>
<p class="fc-names">{{section.settings.location18}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph18}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb18 }}">{{section.settings.button_text18}}</button>
</div>
</div>
</div>
</div>

<!-- modal 20 -->

<div class="modal fade in" id="ModalCenter20" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" style="background: linear-gradient(to left, transparent 0%, black 140%), url('{{ section.settings.image19 | img_url: 'master'}}') no-repeat center!important;">
<div class="modal-dialog container" role="document">
<div class="modal-content">
<div class="modal-header pt-0">
<div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter20">
<div class="d-inline-block m-0 p-0 pr-1">
<h1 class="fc-names">{{section.settings.heading19}}</h1>
</div>
<div class="d-inline-block typecity">
<p class="fc-names">{{section.settings.type19}}</p>
<p class="fc-names">{{section.settings.location19}}</p>
</p>
</div>
</div>
</div>
<div class="modal-body">
<p class="fc-names">
{{section.settings.paragraph19}}
</p>
</div>
<div class="modal-footer">
<button type="button" class="modalbtn btn" href="{{ section.settings.button_link_fb19 }}">{{section.settings.button_text18}}</button>
</div>
</div>
</div>
</div>
  <!-- blocks -->

<div class="d-md-flex d-none flex-wrap col">

    <div class="row m-0 px-2" data-toggle="modal" id="block1" data-target="#ModalCenter">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type}}</p>
          <p>{{section.settings.location}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter2">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading1}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type1}}</p>
          <p>{{section.settings.location1}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter3">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading2}}</h1>
      </div>
        <div class="d-inline-block typecity ">
          <p>{{section.settings.type2}}</p>
          <p>{{section.settings.location2}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter4">
      <div class="d-inline-block m-0 p-0  pr-1">
        <h1>{{section.settings.heading3}}</h1>
      </div>
        <div class="d-inline-block typecity ">
          <p>{{section.settings.type3}}</p>
          <p>{{section.settings.location3}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter5">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading4}}</h1>
      </div>
        <div class="d-inline-block typecity ">
          <p>{{section.settings.type4}}</p>
          <p>{{section.settings.location4}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter6">
      <div class="d-inline-block m-0 p-0  pr-1">
        <h1>{{section.settings.heading5}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type5}}</p>
          <p>{{section.settings.location5}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter7">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading6}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type6}}</p>
          <p>{{section.settings.location6}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter8">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading7}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type7}}</p>
          <p>{{section.settings.location7}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter9">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading8}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type8}}</p>
          <p>{{section.settings.location8}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter10">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading9}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type9}}</p>
          <p>{{section.settings.location9}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter11">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading10}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type10}}</p>
          <p>{{section.settings.location10}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter12">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading11}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type11}}</p>
          <p>{{section.settings.location11}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter13">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading12}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type12}}</p>
          <p>{{section.settings.location12}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter14">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading13}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type13}}</p>
          <p>{{section.settings.location13}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter15">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading14}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type14}}</p>
          <p>{{section.settings.location14}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter16">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading15}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type15}}</p>
          <p>{{section.settings.location15}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter17">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading16}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type16}}</p>
          <p>{{section.settings.location16}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter18">
      <div class="d-inline-block m-0 p-0 pr-1">
        <h1>{{section.settings.heading17}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type17}}</p>
          <p>{{section.settings.location17}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter19">
      <div class="d-inline-block m-0 p-0  pr-1">
        <h1>{{section.settings.heading18}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type18}}</p>
          <p>{{section.settings.location18}}</p>
        </p>
      </div>
    </div>

    <div class="row m-0 px-2" data-toggle="modal" data-target="#ModalCenter20">
      <div class="d-inline-block m-0 p-0  pr-1">
        <h1>{{section.settings.heading19}}</h1>
      </div>
        <div class="d-inline-block typecity">
          <p>{{section.settings.type19}}</p>
          <p>{{section.settings.location19}}</p>
        </p>
      </div>
    </div>

  </div>


<!-- Mobile blocks -->

  <div class="d-block d-md-none col">

      <div class="row mobile-collections-index1 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0" data-toggle="drawer">
          <h1 class="m-0 p-0">{{section.settings.heading}}</h1>
          <p class="m-0 p-0">{{section.settings.type}}</p>
          <p class="m-0 p-0">{{section.settings.location}}</p>
        </div>
        <div class="row fold modal-down1 text-center pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text}}</button>
          </div>
        </div>
      </div>


      <div class="row mobile-collections-index2 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark" id="client2">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading1}}</h1>
          <p class="m-0 p-0">{{section.settings.type1}}</p>
          <p class="m-0 p-0">{{section.settings.location1}}</p>
        </div>
        <div class="row modal-down2 text-center pb-2 pt-2 p-0 m-0" id="client2.2">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image1 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph1}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text1}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index3 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark" id="client3">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading2}}</h1>
          <p class="m-0 p-0">{{section.settings.type2}}</p>
          <p class="m-0 p-0">{{section.settings.location2}}</p>
        </div>
        <div class="row modal-down3 text-center pb-2 pt-2 p-0 m-0" id="client3.3">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image2 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph2}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text2}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index4 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark" id="client4">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading3}}</h1>
          <p class="m-0 p-0">{{section.settings.type3}}</p>
          <p class="m-0 p-0">{{section.settings.location3}}</p>
        </div>
        <div class="row modal-down4 text-center  pb-2 pt-2 p-0 m-0" id="client4.4">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image3 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph3}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text3}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index5 m-0 px-2 text-center py-3 pb-2 border-bottom border-dark"id="client5">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading4}}</h1>
          <p class="m-0 p-0">{{section.settings.type4}}</p>
          <p class="m-0 p-0">{{section.settings.location4}}</p>
        </div>
        <div class="row modal-down5 text-center  pb-2 pt-2 p-0 m-0" id="client5.5">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image4 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph4}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text4}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index6 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading5}}</h1>
          <p class="m-0 p-0">{{section.settings.type5}}</p>
          <p class="m-0 p-0">{{section.settings.location5}}</p>
        </div>
        <div class="row modal-down6 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image5 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph5}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text5}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index7 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading6}}</h1>
          <p class="m-0 p-0">{{section.settings.type6}}</p>
          <p class="m-0 p-0">{{section.settings.location6}}</p>
        </div>
        <div class="row modal-down7 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image6 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph6}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text6}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index8 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading7}}</h1>
          <p class="m-0 p-0">{{section.settings.type7}}</p>
          <p class="m-0 p-0">{{section.settings.location7}}</p>
        </div>
        <div class="row modal-down8 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image7 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph7}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text7}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index9 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading8}}</h1>
          <p class="m-0 p-0">{{section.settings.type8}}</p>
          <p class="m-0 p-0">{{section.settings.location8}}</p>
        </div>
        <div class="row modal-down9 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image8 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph8}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text8}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index10 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading9}}</h1>
          <p class="m-0 p-0">{{section.settings.type9}}</p>
          <p class="m-0 p-0">{{section.settings.location9}}</p>
        </div>
        <div class="row modal-down10 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image9 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph9}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text9}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index11 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading10}}</h1>
          <p class="m-0 p-0">{{section.settings.type10}}</p>
          <p class="m-0 p-0">{{section.settings.location10}}</p>
        </div>
        <div class="row modal-down11 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image10 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph10}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text10}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index12 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading11}}</h1>
          <p class="m-0 p-0">{{section.settings.type11}}</p>
          <p class="m-0 p-0">{{section.settings.location11}}</p>
        </div>
        <div class="row modal-down12 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image11 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph11}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text11}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index13 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading12}}</h1>
          <p class="m-0 p-0">{{section.settings.type12}}</p>
          <p class="m-0 p-0">{{section.settings.location12}}</p>
        </div>
        <div class="row modal-down13 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image12 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph12}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text12}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index14 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading13}}</h1>
          <p class="m-0 p-0">{{section.settings.type13}}</p>
          <p class="m-0 p-0">{{section.settings.location13}}</p>
        </div>
        <div class="row modal-down14 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image13 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph13}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text13}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading14}}</h1>
          <p class="m-0 p-0">{{section.settings.type14}}</p>
          <p class="m-0 p-0">{{section.settings.location14}}</p>
        </div>
        <div class="row modal-down text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image14 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph14}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text14}}</button>
          </div>
        </div>
      </div>

      <!-- <div class="row mobile-collections-index15 m-0 px-2 text-center pb-2 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading15}}</h1>
          <p class="m-0 p-0">{{section.settings.type15}}</p>
          <p class="m-0 p-0">{{section.settings.location15}}</p>
        </div>
        <div class="row modal-down15 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image15 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph15}}
              </p>
          </div>
        </div>
      </div> -->

      <div class="row mobile-collections-index16 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading16}}</h1>
          <p class="m-0 p-0">{{section.settings.type16}}</p>
          <p class="m-0 p-0">{{section.settings.location16}}</p>
        </div>
        <div class="row modal-down16 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image16 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph16}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text16}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index17 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading17}}</h1>
          <p class="m-0 p-0">{{section.settings.type17}}</p>
          <p class="m-0 p-0">{{section.settings.location17}}</p>
        </div>
        <div class="row modal-down17 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image17 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph17}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class=" btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text17}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index18 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading18}}</h1>
          <p class="m-0 p-0">{{section.settings.type18}}</p>
          <p class="m-0 p-0">{{section.settings.location18}}</p>
        </div>
        <div class="row modal-down18 text-center pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image18 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph18}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class="btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text18}}</button>
          </div>
        </div>
      </div>

      <div class="row mobile-collections-index19 m-0 px-2 text-center pb-2 py-3 border-bottom border-dark">
        <div class="col-12 m-0 p-0">
          <h1 class="m-0 p-0">{{section.settings.heading19}}</h1>
          <p class="m-0 p-0">{{section.settings.type19}}</p>
          <p class="m-0 p-0">{{section.settings.location19}}</p>
        </div>
        <div class="row modal-down19 text-center  pb-2 pt-2 p-0 m-0">
          <div class="col-12 m-0 p-0">
            <img src="{{ section.settings.image19 | img_url: "master" }}" alt="">
          </div>
          <div class="col-12 m-0 p-0">
            <p class="text-left px-2 py-3">
                {{section.settings.paragraph19}}
              </p>
          </div>
          <div class="col-12 m-0 p-0">
            <button type="button" class="btn" href="{{ section.settings.button_link_fb1 }}">{{section.settings.button_text19}}</button>
          </div>
        </div>
      </div>

</div>

<script type="text/javascript">

$(document).ready(function(){

  $(".mobile-collections-index1").click(function(){
    $(".modal-down1").slideToggle();
  });
  $(".mobile-collections-index2").click(function(){
    $(".modal-down2").slideToggle();
  });
  $(".mobile-collections-index3").click(function(){
    $(".modal-down3").slideToggle();
  });
  $(".mobile-collections-index4").click(function(){
    $(".modal-down4").slideToggle();
  });
  $(".mobile-collections-index5").click(function(){
    $(".modal-down5").slideToggle();
  });
  $(".mobile-collections-index6").click(function(){
    $(".modal-down6").slideToggle();
  });
  $(".mobile-collections-index7").click(function(){
    $(".modal-down7").slideToggle();
  });
  $(".mobile-collections-index8").click(function(){
    $(".modal-down8").slideToggle();
  });
  $(".mobile-collections-index9").click(function(){
    $(".modal-down9").slideToggle();
  });
  $(".mobile-collections-index10").click(function(){
    $(".modal-down10").slideToggle();
  });
  $(".mobile-collections-index11").click(function(){
    $(".modal-down11").slideToggle();
  });
  $(".mobile-collections-index12").click(function(){
    $(".modal-down12").slideToggle();
  });
  $(".mobile-collections-index13").click(function(){
    $(".modal-down13").slideToggle();
  });
  $(".mobile-collections-index14").click(function(){
    $(".modal-down14").slideToggle();
  });
  $(".mobile-collections-index15").click(function(){
    $(".modal-down15").slideToggle();
  });
  $(".mobile-collections-index16").click(function(){
    $(".modal-down16").slideToggle();
  });
  $(".mobile-collections-index17").click(function(){
    $(".modal-down17").slideToggle();
  });
  $(".mobile-collections-index18").click(function(){
    $(".modal-down18").slideToggle();
  });
  $(".mobile-collections-index19").click(function(){
    $(".modal-down19").slideToggle();
  });
  $(".mobile-collections-index").click(function(){
    $(".modal-down").slideToggle();
  });
});

</script>

{% schema %}
{
  "name": {
    "en": "Featured Client"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb1",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading1",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type1",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location1",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph1",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text1",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb2",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading2",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type2",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location2",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph2",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text2",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb3",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading3",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type3",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location3",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph3",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text3",
      "label": {
        "en": "Modal Button Text"
      }
    },{
      "type": "image_picker",
      "id": "image4",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb4",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading4",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type4",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location4",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph4",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text4",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb5",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading5",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type5",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location5",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph5",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text5",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb6",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading6",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type6",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location6",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph6",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text6",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image7",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb7",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading7",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type7",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location7",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph7",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text7",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image8",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb8",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading8",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type8",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location8",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph8",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text8",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image9",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb9",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading9",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type9",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location9",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph9",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text9",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image10",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb10",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading10",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type10",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location10",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph10",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text10",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image11",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb11",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading11",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type11",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location11",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph11",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text11",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image12",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb12",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading12",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type12",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location12",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph12",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text12",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image13",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb13",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading13",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type13",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location13",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph13",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text13",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image14",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb14",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading14",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type14",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location14",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph14",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text14",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image16",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb16",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading16",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type16",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location16",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph16",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text16",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image17",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb17",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading17",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type17",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location17",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph17",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text17",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image18",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb18",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading18",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type18",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location18",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph18",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text18",
      "label": {
        "en": "Modal Button Text"
      }
    },
    {
      "type": "image_picker",
      "id": "image19",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "url",
      "id": "button_link_fb19",
      "label": {
        "en": "Button link"
      }
    },
    {
      "type": "text",
      "id": "heading19",
      "label": {
        "en": "client name"
      }
    },
    {
      "type": "text",
      "id": "type19",
      "label": {
        "en": "Type"
      }
    },
    {
      "type": "text",
      "id": "location19",
      "label": {
        "en": "Location"
      }
    },
    {
      "type": "text",
      "id": "paragraph19",
      "label": {
        "en": "Modal"
      }
    },
    {
      "type": "text",
      "id": "button_text19",
      "label": {
        "en": "Modal Button Text"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured Clients"
      },
      "category": {
        "en": "Image"
      }
    }
  ]
}
{% endschema %}
